<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amcaicedo.sena.complaciente">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <application
        android:name=".BeaconNotification"
        android:allowBackup="true"
        android:icon="@drawable/pruebados"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <meta-data
            android:name="DATABASE"
            android:value="pandermao.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.amcaicedo.sena.complaciente" />

        <activity
            android:name=".MainActivity"
            android:label="@string/discotecas" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/NoAppBar" />
        <!--
        //splash viejo
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->

        <activity
            android:name=".Splashscreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PromoDetailActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/NoAppBar" />
        <activity
            android:name=".CancionesActivity"
            android:label="@string/lista_canciones"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FragmentContentActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/MyTheme" />
        <activity android:name=".CartaActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.amcaicedo.sena.complaciente.FragmentContentActivity"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".firebase.FirebaseMessageInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.FirebaseMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".FragmentContentNavigationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>

        <service
            android:name=".services.BeaconService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>